*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}


@font-face {
    font-family: Sora;
    src: url('../assets/fonts/Sora/Sora-VariableFont_wght.ttf');
}


:root {
    --background_color1: #FFFFFF;
    --background_color2: #EFF8FF;
    --CardStyle_color1: #EFF8FF;
    --CardStyle_color2: #293145;
    --Button_color: #0F9aFE;
    --Txt_color1: #293145;
    --Txt_color2: #6E7275;
    --Txt_color3: #FFFFFF;
    --Txt_color4: #dbdbdb;
}


/*-----------------------------------------------------------------------------------------------------------------------*/

body {
    overflow-x: hidden;
}


header {
    height: auto;
}


.header-style__menu {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--background_color1); 
    /* box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.135); */
    z-index: 9999; 
}


#button_menu{
    background-color: transparent;
    border: none;
}


.header-style__links{
    background-color: var(--background_color1);
    position:  absolute;
    top: 70px;
    right: 0;
    height: 100vh;
    width: 80%;
    transform: translateX(0);
    transition: all 0.5s ease;
} 


.header-style__links.open{
    /* propriedades para realizar a animação dos links */
    transform: translateX(100%);
    display: block;  
}


.header-style__links>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background_color1);
    font-family: "Inter";
    border-radius: 10px;
 
}


.header-style__links>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    color: var(--Txt_color2);
    transition: linear .4s all;

}


.header-style__links>ul>li>a:hover{
    background-color: var(--Button_color);
    border-radius: 8px;
    padding: 10px;
    color: var(--Txt_color3);
}

/*---------------------------------------------------------------------------------------------------------------------*/


.main_style{
    background-color: var(--background_color2);
    display: flex;
    /* flex-direction: column;  */
    flex-wrap: wrap;
    justify-content: center;
}
    

/*-----------------------------------------------------------------------------------------------------------------------*/

.banner{
    width: 100%;
    height: 450px;
    margin-top: 100px;
    background-color: var(--background_color2);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title_banner{
    width: 350px;
    
    margin-top: 20px;
    font-family: "Sora";
    font-size: 24px;
    color: var(--Txt_color1);
    color: var(--Txt_color1);
    letter-spacing: 1px;
    line-height: 30px;
  
}


.button_banner{
    margin-top: 20px;
    width: 135px;
    padding: 8px;
    border: none;
    border-radius: 50px;
    background-color: var(--Button_color);
    font-family: "Inter";
    font-size: 14px;
    color: var(--Txt_color3);
    color: var(--Txt_color3);
}


.img_banner{
    width: 350px;
    height: 300px;
    margin-bottom: 0;
}


/*----------------------------------------------------------------------------------------------------------------------*/

.functions{
    height: auto;
    margin-top: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background_color1);
}

.functions>h1{
   font-family: "Sora";
   font-size: 24px;
   color: var(--Txt_color1);

}

.card_functions{
    margin-top: 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card_functions>h2{
    font-family: "Sora";
    color: var(--Txt_color1);
    font-size: 16px;
}

.card_functions>p{
    line-height: 20px;
    font-family: "Inter";
    font-size: 14px;
    color: var(--Txt_color2);
    text-align: center;
}

/*----------------------------------------------------------------------------------------------------------------------*/

.download_app{
   width: 100%;
   height: auto;
}

.article_app{
    height: 300px;
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.article_app>h1{
    font-family: "Sora";
    font-size: 26px;
    color: var(--Txt_color1);
}


.article_app>p{
    font-family: "Inter";
    font-size: 14px;
    color: var(--Txt_color2);
}


.box_download{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img_download{
    width: 160px;
    height: 50px;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

.plans{
    /* height: 300px;*/
    background-color: var(--background_color1);
    padding: 40px; 
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.title_plans>h1{
    line-height: 50px;
    font-family: "Sora";
    font-size: 24px;
    color: var(--Txt_color1);
}


.title_plans>p{
    font-family: "Inter";
    font-size: 14px;
    color: var(--Txt_color2);
}


.card_plans1{
    width: 310px;
    height: 350px;
    padding: 5px;
    background-color: var(--CardStyle_color1);
    border-radius: 8px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card_plans2{
    width: 310px;
    height: 350px;
    padding: 5px;
    background-color: var(--CardStyle_color2);
    border-radius: 8px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card_plans1>p{
    line-height: 25px;
    font-family: "Inter";
    font-size: 16px;
    color: var(--Txt_color2);
}

.card_plans2>p{
    line-height: 25px;
    font-family: "Inter";
    font-size: 16px;
    color: var(--Txt_color4);
}


.card_plans1>h1{
    font-family: "Sora";
    font-size: 24px;
    color: var(--Txt_color1);
}


.box_plans1{
    font-family: "Sora";
    font-size: 28px;
    font-weight: 700;
    color: var(--Txt_color1);
}


.box_plans1 sup, .box_plans1 span{
    font-family: "Sora";
    font-size: 20px;
    font-weight: 700;
    color: var(--Txt_color1);


}


.card_plans2>h1{
    font-family: "Sora";
    font-size: 24px;
    color: var(--Txt_color3);
}


.card_plans2>h3{
    padding: 5px;
    border-radius: 50px;
    width:135px ;
    background-color: var(--Button_color);
    font-family: "Inter";
    font-size: 14px;
    letter-spacing: 3px;
    color: var(--Txt_color3);
}


.box_plans2{
    font-family: "Sora";
    font-size: 28px;
    font-weight: 700;
    color: var(--Txt_color3);
}


.box_plans2 sup,.box_plans2 span{
    font-family: "Sora";
    font-size: 20px;
    font-weight: 700;
    color: var(--Txt_color3);

}


.button_plans{
    border: none;
    border-radius: 50px;
    padding: 5px;
    
    width:150px ;
    background-color: var(--Button_color);
    font-family: "Inter";
    font-size: 14px;
    
    color: var(--Txt_color3);
}

/*------------------------------------------------------------------------------------------------------------------------*/

.background_footer{
    background-image: url('../assets/images/mobile_computado_telefoen.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    opacity: 85%;
}

.inform_footer{
    color: var(--Txt_color4);
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inform_footer>h1{
    font-family: "Sora";
    color: var(--Txt_color3);
    font-size: 24px;
}


.inform_footer>p{
    line-height: 25px;
    font-family: "Inter";
    font-size: 14px;
    color: var(--Txt_color4);
}

.email_footer{
    padding-bottom: 10px;
    border: 0;
    border-bottom: 1px solid var(--Txt_color4);
    width: 330px;
    outline: none;
    background-color: transparent;
    color: var(--Txt_color4);
}

::placeholder {
    color: var(--Txt_color4);
  }

.button_footer{
    border: none;
    border-radius: 50px;
    padding: 5px;
    
    width:312px ;
    background-color:var(--Button_color);
    font-family: "Inter";
    font-size: 14px;
    
    color: var(--Txt_color4);
}

.copyright{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Sora";
    font-size: 14px;
    color: var(--Txt_color1);
}

.img2_download{
    display: none;
}





/*------------------------------------------------------------------------------------------------------------------------*/

 @media screen and (max-width: 1440px) and (orientation: landscape){

    .container-grid{
        max-width: 1000px;
        margin: 0 auto;

    }


    .main_style{
        justify-content: left;
    }

    .banner{
        height: 600px;
        flex-direction: row;
        justify-content: space-between;
    }

    .title_banner>h1{
        width: 400px;
        line-height: 35px;
        font-size: 30px;
    }


    .img_banner{
        width: 400px ;
        height: 400px;
    }
    

    .functions{
        width: 100%;
        height: 350px;
        display: block;
        text-align: center;

    }

    .box_functions{
        display: flex;
        justify-content: space-around;
    }

    .card_functions{
        width: 230px;
    }


    #button_menu{
        display: none;
    }

    .header-style__links{
        top: 0;
        width: 700px;
        right: 50px;
        height: 70px;
        z-index: 99999;
        position: fixed;
    }

    .header-style__links.open{
        transform: translateX(0);
    }

    .header-style__links>ul{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .header-style__links>ul>li>a{
        font-size: 16px;
    }

    .download_app{
        height: 475px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .article_app{
        display: flex;
        flex-direction: column;
        width: 500px;
        height: auto;
        text-align: start;
        
    }

    .article_app>h1>p{
        width: 490px;
        justify-content: start;
        
    }


    .box_download{
        
        width: 520px;
        /* flex-direction: column; */
        justify-content: start;
        margin-left: 80px;
    }


    .img2_download{
        display: flex;
    }

    .plans{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .title_plans{
        display: block;
        justify-self: center;
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .title_plans>p{
        line-height: 20px;
        text-align: center;
        padding-left: 320px;
        padding-right: 320px;
    }

    .card_plans2{
        gap: 32px;
        line-height: 10px;
    }


    .background_footer{
        background-image: url('../assets/images/computado_telefoen.svg');
        opacity: 90%;
    }

    .inform_footer{
        gap: 40px;
    }

    .inform_footer>p{
        width: 500px;
        line-height: 20px;
    }

    .button_footer{
        margin-top: -15px;
    }

}